<div class="terminull">
    <div class="terminullMenu">
      <div class="terminullButtons terminullClose"></div>
      <div class="terminullButtons terminullMinimize"></div>
      <div class="terminullButtons terminullZoom"></div>
    </div>
    <div class="terminullScreen">
        <% terminulls.forEach(function(terminull){ %>
          <span class="terminullDirectory">~/<%= terminull.directory %></span>$ 
          <span class="terminullCommand"><%= terminull.command%></span>
          <% if (terminull.comment) { %> 
            <span class="terminullComment"># <%= terminull.comment%></span>
          <% } %>
          <i class="fa fa-clone t-copy terminullCopyBtn" onclick="copyCommandTerminull(`<%= terminull.command%>`)"></i>
          <span class="terminullOutput"><%= terminull.output%></span>
        <% }); %>
    </div>
</div>